---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import SocialIcons from './SocialMedia/SocialIcons.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentYear = new Date().getFullYear();
---

<footer class="py-8 bg-gray-50 border-t border-gray-100">
  <div class="container mx-auto px-4" style="margin-bottom: 0;">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Logo y descripción -->
      <div class="col-span-1">
        <div class="flex items-center gap-2 mb-4">
          <img src="/images/logo-80.webp" alt="DeSci Quark Logo" class="h-8" style="width: 2.8rem;" width="45" height="32" />
          <span class="text-lg font-bold text-primary-600">DeSci Quark</span>
        </div>
        <p class="text-gray-600 text-sm mb-4">
          {t('footer.description')}
        </p>
        <a href="mailto:info@desciquark.com" class="text-primary-500 hover:text-primary-600 flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
          </svg>
          info@desciquark.com
        </a>
      </div>
      
      <!-- Enlaces Útiles -->
      <div class="col-span-1">
        <h3 class="text-lg font-semibold mb-4 text-gray-800">{t('footer.usefulLinks')}</h3>
        <ul class="space-y-2">
          <li><a href="#course-overview" class="text-gray-600 hover:text-primary-500">{lang === 'en' ? 'About the Course' : 'Sobre el Curso'}</a></li>
          <li><a href="#course-content" class="text-gray-600 hover:text-primary-500">{t('footer.courseContent')}</a></li>
          <li><a href="#course-details" class="text-gray-600 hover:text-primary-500">{t('courseDetails.title')}</a></li>
          <li><a href="#faq" class="text-gray-600 hover:text-primary-500">{t('footer.faq')}</a></li>
        </ul>
      </div>
      
      <!-- Redes Sociales -->
      <div class="col-span-1">
        <h3 class="text-lg font-semibold mb-4 text-gray-800">{t('footer.followUs')}</h3>
        <SocialIcons iconClass="w-6 h-6" />
      </div>
    </div>
    
    <div class="mt-8 pt-6 border-t border-gray-200 text-center">
      <p class="text-sm text-gray-500">
        &copy; {currentYear} DeSci Quark Development by @cryptonahue
      </p>
    </div>
  </div>
</footer>
